.subject {
  margin-top: 10px;
  margin-left: 50px;
}
.contruction {
}
.link-1 {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 0, 0.5);
  border: dashed rgb(12%, 56%, 100%, 1) 1px;
  border-radius: 50%;
  right: 263px;
  top: 47px;
  overflow: hidden;
}
.link-1:hover {
  background-color: rgba(255, 255, 0, 0.75);
  border: solid rgb(12%, 56%, 100%, 1) 1px;
  overflow: visible;
}
.link-1:hover .detail-1 {
  opacity: 1;
}
.detail-1 {
  position: absolute;
  padding: 10px;
  width: 170px;
  height: 295px;
  top: -100px;
  border-radius: 10px;
  opacity: 0;
  left: 150px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}
.link-2 {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 0, 0.5);
  border: dashed rgb(12%, 56%, 100%, 1) 1px;
  right: 210px;
  top: 195px;
  overflow: hidden;
}
.link-2:hover {
  background-color: rgba(255, 255, 0, 0.75);
  border: solid rgb(12%, 56%, 100%, 1) 1px;
  overflow: visible;
}
.detail-2 {
  position: absolute;
  padding: 10px;
  width: 350px;
  height: 550px;
  bottom: -240px;
  border-radius: 10px;
  opacity: 0;
  right: 120px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}
.link-2:hover .detail-2 {
  opacity: 1;
}
.link-3 {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 0, 0.5);
  border: dashed rgb(12%, 56%, 100%, 1) 1px;
  right: 365px;
  bottom: 170px;
  overflow: hidden;
}
.link-3:hover {
  background-color: rgba(255, 255, 0, 0.75);
  border: solid rgb(12%, 56%, 100%, 1) 1px;
  overflow: visible;
}
.detail-3 {
  position: absolute;
  padding: 10px;
  width: 410px;
  height: 280px;
  bottom: 0px;
  border-radius: 10px;
  opacity: 0;
  left: 75px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}
.link-3:hover .detail-3 {
  opacity: 1;
}
.link-4 {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 0, 0.5);
  border: dashed rgb(12%, 56%, 100%, 1) 1px;
  right: 490px;
  bottom: 190px;
  overflow: hidden;
}
.link-4:hover {
  background-color: rgba(255, 255, 0, 0.75);
  border: solid rgb(12%, 56%, 100%, 1) 1px;
  overflow: visible;
}
.detail-4 {
  position: absolute;
  padding: 10px;
  width: 170px;
  height: 320px;
  bottom: 0px;
  border-radius: 10px;
  opacity: 0;
  right: 65px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}
.link-4:hover .detail-4 {
  opacity: 1;
}
.link-5 {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 0, 0.5);
  border: dashed rgb(12%, 56%, 100%, 1) 1px;
  left: 400px;
  bottom: 110px;
  overflow: hidden;
}
.link-5:hover {
  background-color: rgba(255, 255, 0, 0.75);
  border: solid rgb(12%, 56%, 100%, 1) 1px;
  overflow: visible;
}
.detail-5 {
  position: absolute;
  width: 170px;
  height: 270px;
  padding: 10px;
  bottom: 0px;
  border-radius: 10px;
  opacity: 0;
  left: 75px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}
.link-5:hover .detail-5 {
  opacity: 1;
}
.link-6 {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 0, 0.5);
  border: dashed rgb(12%, 56%, 100%, 1) 1px;
  left: 182px;
  bottom: 76px;
  overflow: hidden;
}
.link-6:hover {
  background-color: rgba(255, 255, 0, 0.75);
  border: solid rgb(12%, 56%, 100%, 1) 1px;
  overflow: visible;
}
.detail-6 {
  position: absolute;
  width: 400px;
  height: 240px;
  padding: 10px;
  bottom: 110px;
  border-radius: 10px;
  opacity: 0;
  left: 0px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}
.link-6:hover .detail-6 {
  opacity: 1;
}
.link-7 {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 0, 0.5);
  border: dashed rgb(12%, 56%, 100%, 1) 1px;
  left: 100px;
  bottom: 145px;
  overflow: hidden;
}
.link-7:hover {
  background-color: rgba(255, 255, 0, 0.75);
  border: solid rgb(12%, 56%, 100%, 1) 1px;
  overflow: visible;
}
.detail-7 {
  position: absolute;
  width: 190px;
  height: 305px;
  padding: 10px;
  bottom: 80px;
  border-radius: 10px;
  opacity: 0;
  left: 40px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}
.link-7:hover .detail-7 {
  opacity: 1;
}
.construction-block {
  position: relative;
  width: 1200px;
}
.detail-subject {
  margin: 0;
  font-size: 20px;
  color: white;
}
.detail-discription {
  margin-bottom: 7px;
  font-size: 12px;
  color: white;
}
